PJeModelos/res/XML/j2.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://j2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="innerContent">
    <xs:complexType>
        <xs:attribute type="j2:ENUM_SCOPE" name="scope" use="required" xmlns:j2="http://j2"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="elemento">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="j2:innerContent" xmlns:j2="http://j2"/>
        <xs:element ref="j2:HTMLAttribute" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classe" xmlns:j2="http://j2"/>
        <xs:element ref="j2:elemento" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classeImp" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="tag" use="required"/>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="class" use="optional"/>
      <xs:attribute type="xs:string" name="onclick" use="optional"/>
      <xs:attribute type="j2:ENUM_SCOPE" name="scope" use="required" xmlns:j2="http://j2"/>      
    </xs:complexType>
  </xs:element>
  <xs:element name="classe">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="j2:constructs" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:importLib" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classe" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="required"/>
      <xs:attribute type="xs:string" name="versao" use="required"/>
      <xs:attribute type="xs:string" name="enabled" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="versao">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="j2:elemento" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classe" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classeImp" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:textHTML" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="id" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ENUM_SCOPE" final="restriction">
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="EXP"/>   
      <xs:enumeration value="EDT"/>   
      <xs:enumeration value="EDT_CORE"/>   
      <xs:enumeration value="EDT_BOTTOM"/>   
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="classeImp">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:constructs" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:importLib" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classe" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="id" use="required"/>
      <xs:attribute type="xs:string" name="versao" use="required"/>
      <xs:attribute type="xs:string" name="enabled" use="optional"/>
      <xs:attribute type="j2:ENUM_SCOPE" name="scope" use="required" xmlns:j2="http://j2"/>
    </xs:complexType>      
  </xs:element>
  <xs:element name="HTMLAttribute">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="data"  type="xs:string"/>
  <xs:element name="chancelaDataURI"  type="xs:string"/>
  <xs:element name="textHTML">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:data" minOccurs="1" maxOccurs="1" xmlns:j2="http://j2"/>
      </xs:sequence>        
      <xs:attribute type="j2:ENUM_SCOPE" name="scope" use="required" xmlns:j2="http://j2"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="constructs">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="j2:constructKeyPair" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="param" use="required"/>
      <xs:attribute type="xs:string" name="value" use="required"/>
      <xs:attribute type="xs:string" name="type" use="required"/>
    </xs:complexType>  
  </xs:element>

  <xs:element name="constructKeyPair">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="key" use="required"/>
          <xs:attribute type="xs:string" name="type" use="required"/>
          <xs:attribute type="xs:string" name="value" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="valueAR">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="value" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="importLib">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="artifact" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="modeloAut">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id" use="required"/>
          <xs:attribute type="xs:float" name="versao" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="enderecoManual">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:boolean" name="edificacaoENominada" use="required"/>
          <xs:attribute type="xs:string" name="nomeEdificacao" use="optional"/>
          <xs:attribute type="xs:string" name="enderecoFormal" use="required"/>
          <xs:attribute type="xs:string" name="contatosFormal=" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>  
  <xs:element name="j2Xml">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="dobBinId" use="required"/>
          <xs:attribute type="xs:string" name="assuntoId" use="required"/>
          <xs:attribute type="xs:string" name="libId" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="servidorLocal">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="avaliable" use="required"/>
          <xs:attribute type="xs:string" name="domain" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="OJs">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="j2:usuarioRef" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:boolean" name="centralMandados" use="required"/>
    </xs:complexType>
  </xs:element>  
  <xs:element name="dadosUsuariosLocal">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="j2:j2Xml" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:boolean" name="avaliable" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="globalStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:style" maxOccurs="unbounded" minOccurs="1" xmlns:j2="http://j2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  <xs:element name="modelosAut">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:modeloAut" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:servidorLocal" xmlns:j2="http://j2"/>
        <xs:element ref="j2:dadosUsuariosLocal" xmlns:j2="http://j2"/>
        <xs:element ref="j2:globalStyle" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:enderecoManual" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:OJs" xmlns:j2="http://j2"/>
        <xs:element ref="j2:secretarios" maxOccurs="1" xmlns:j2="http://j2"/>
        <xs:element ref="j2:magistrados" maxOccurs="1" xmlns:j2="http://j2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Chancela">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="idSource" use="required" />
          <xs:attribute type="xs:string" name="height" use="required"/>
          <xs:attribute type="xs:string" name="MarginTop" use="required"/>
          <xs:attribute type="xs:string" name="MrginTop" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:versao" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:versao" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classStyles" maxOccurs="1" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:modelosAut" xmlns:j2="http://j2"/>
        <xs:element ref="j2:config" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="required"/>
      <xs:attribute type="xs:genr" name="id" use="required"/>
      <xs:attribute type="xs:string" name="uuid" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:Usuario" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="versao" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:Chancela" maxOccurs="1" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:titularidade" maxOccurs="1" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:OoutrasFuncoes" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute name="j2:id" type="xs:string"/>
      <xs:attribute name="j2:nome" type="xs:string"/>
      <xs:attribute name="j2:matricula" type="xs:string"/>
      <xs:attribute name="j2:cargo" type="xs:string"/>
      <xs:attribute name="j2::ini" type="xs:string"/>
      <xs:attribute name="j2::genr" type="xs:string"/>
    </xs:complexType>
  </xs:element>  
  <xs:element name="usuarioRef">
    <xs:complexType>
      <xs:attribute name="j2:id" type="xs:string"/>
    </xs:complexType>
  </xs:element>  
  
  <xs:element name="secretarios">
    <xs:complexType>
      <xs:attribute name="j2:emExercicio" type="xs:string"/>
      <xs:attribute name="j2:titular" type="xs:string"/>
      <xs:attribute name="j2:substituto" type="xs:string"/>
    </xs:complexType>
  </xs:element>    
  <xs:element name="titularidade">
    <xs:complexType>
      <xs:attribute name="j2:unidade" type="xs:string" use="required"/>
      <xs:attribute name="j2:unidadeGenr" type="xs:string" use="required"/>
      <xs:attribute name="j2:nominacao" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>      
  <xs:element name="magistrados">
    <xs:complexType>
      <xs:attribute name="j2:emExercicio" type="xs:string" use="required"/>
      <xs:attribute name="j2:titular" type="xs:string" use="required"/>
      <xs:attribute name="j2:respondente" type="xs:string"/>
      <xs:attribute name="j2:respondente2" type="xs:string"/>
      <xs:attribute name="j2:respondente3" type="xs:string"/>
      <xs:attribute name="j2:respondente4" type="xs:string"/>
      <xs:attribute name="j2:substituto" type="xs:string"/>
      <xs:attribute name="j2:presidente" type="xs:string"/>
      <xs:attribute name="j2:presidente2" type="xs:string"/>
      <xs:attribute name="j2:presidente3" type="xs:string"/>
      <xs:attribute name="j2:presidente4" type="xs:string"/>      
      <xs:attribute name="j2:presidente5" type="xs:string"/>      
      <xs:attribute name="j2:presidente6" type="xs:string"/>      
      <xs:attribute name="j2:presidente7" type="xs:string"/>      

      <xs:attribute name="exercicioTemporario" type="j2:DataExercicio"/>      
      <xs:attribute name="presidencia" type="j2:Presidencia"/>      
      <xs:attribute name="simbologiaPadraoAto" type="xs:string"/>      
      <xs:attribute name="mostrarPortaria" type="xs:boolean"/>      
    </xs:complexType>
  </xs:element>    

  <xs:element name="DataExercicio">
    <xs:complexType>
      <xs:attribute name="usuarioId" type="xs:string" use="required"/>
      <xs:attribute name="dataInicio" type="xs:date" use="required"/>
      <xs:attribute name="dataFim" type="xs:date" use="required"/>

      <xs:element ref="j2:PortariaDesignacao" maxOccurs="1" minOccurs="0" xmlns:j2="http://j2"/>
    </xs:complexType>
  </xs:element>    

  <xs:element name="Presidencia">
    <xs:complexType>
      <xs:attribute name="usuarioId" type="xs:string" use="required"/>
      <xs:attribute name="numeroUnico" type="xs:string" use="required"/>
      <xs:element ref="j2:PortariaDesignacao" maxOccurs="1" minOccurs="0" xmlns:j2="http://j2"/>
    </xs:complexType>
  </xs:element>    

  <xs:element name="PortariaDesignacao">
    <xs:complexType mixed="true">        
        <xs:attribute type="xs:integer" name="numero" use="required"/>
        <xs:attribute type="xs:integer" name="ano" use="required"/>
        <xs:attribute type="xs:string" name="simbologia" use="optional"/>
        <xs:attribute type="xs:date" name="dataAto" use="optional"/>

        <xs:attribute type="xs:string" name="idDropbox" use="optional"/>
        <xs:attribute type="xs:string" name="idDropboxV2" use="optional"/>
    </xs:complexType>
  </xs:element>
    
  <xs:element name="Definitions">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:CalendarioEvento" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classeDef" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:modelo" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:Unidade" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:Usuarios" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:classStyles" minOccurs="0" xmlns:j2="http://j2"/>
        <xs:element ref="j2:chancelaDataURI" minOccurs="0" xmlns:j2="http://j2" maxOccures="1"/>
        <xs:element ref="j2:simpleElementsDef" minOccurs="0" xmlns:j2="http://j2"/> <!-- para simples definições de elementos -->
      </xs:choice>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:anyURI" name="targetNamespace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extnds">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="prop">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="value" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="style">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="j2:extnds" maxOccurs="1" xmlns:j2="http://j2"/>
        <xs:element ref="j2:prop" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simpleElementsDefs">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="j2:elemento" minOccurs="0" xmlns:j2="http://j2"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>  
  <xs:element name="classStyles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:style" maxOccurs="unbounded" minOccurs="1" xmlns:j2="http://j2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- SELECTING DEFINITIONS -->
  <xs:element name="selectorDef">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="j2:itemFormats" maxOccurs="1" minCorrus="1" xmlns:j2="http://j2"/>
        <xs:element ref="j2:groupsDefs" maxOccurs="1" xmlns:j2="http://j2"/>
        <xs:element ref="j2:items" xmlns:j2="http://j2"/>
        <xs:element ref="j2:eventFire" xmlns:j2="http://j2"/>
      </xs:choice>
      <xs:attribute name="j2:id" type="xs:string" use="required"/>
      <xs:attribute name="j2:grouped" type="xs:bool" use="required"/>
    </xs:complexType>
  </xs:element>   
  
  <xs:element name="eventFire">
    <xs:complexType>
      <xs:attribute name="j2:event" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>     
  
  <xs:element name="itemFormats">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:elemento" minOccurs="1" xmlns:j2="http://j2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  
  <xs:element name="groupsDefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:group" minOccurs="1" xmlns:j2="http://j2" />
      </xs:sequence>
    </xs:complexType>
    <xs:attribute name="j2:naoOrdenado" type="xs:boolean"/>
  </xs:element>  

  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:gItem" minOccurs="1" xmlns:j2="http://j2" />
      </xs:sequence>
      <xs:attribute name="j2:label" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>    
  
  <xs:element name="gItem">
    <xs:complexType>
      <xs:attribute name="j2:id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>      
      
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="j2:item" minOccurs="1" xmlns:j2="http://j2" />
      </xs:sequence>
    </xs:complexType>
    <xs:attribute name="j2:initialSelected" type="xs:string"/>
    <xs:attribute name="j2:naoOrdenado" type="xs:boolean"/>
  </xs:element>      

  <xs:element name="item">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:eventFire" xmlns:j2="http://j2" />
        <xs:element ref="j2:itemContent" minOccures="1" xmlns:j2="http://j2" />
        
        <xs:element ref="j2:competencias" minOccures="0" xmlns:j2="http://j2" />
        <xs:element ref="j2:advertencias" minOccures="0" xmlns:j2="http://j2" />
      </xs:choice>
      <xs:attribute name="j2:id" type="xs:string" use="required"/>
      <xs:attribute name="j2:lable" type="xs:string" use="required"/>
      <xs:attribute name="j2:dataPlus" type="xs:string" use="optional"/>
      
      <xs:attribute name="j2:disabled" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element> 

  <xs:element name="itemContent">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:data" xmlns:j2="http://j2" />
        <xs:element ref="j2:selectorArray" xmlns:j2="http://j2" />
      </xs:choice>
      <xs:attribute name="j2:type" type="j2:ENUM_CONTENT_TYPE" use="required"/>
      <xs:attribute name="j2:addtClass" type="j2:string" use="optional"/>
    </xs:complexType>
  </xs:element> 

  <xs:simpleType name="ENUM_CONTENT_TYPE" final="restriction">
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="HTML"/>   
      <xs:enumeration value="selectorArray"/>   
      <xs:enumeration value="plainText"/>   
      <xs:enumeration value="umEquivalenteAAtosDecisorios"/>   
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="selectorArray">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:arElement" minOccures="0" xmlns:j2="http://j2" />
      </xs:choice>
    </xs:complexType>
  </xs:element>                                     
  
  <xs:element name="arElement">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="j2:data" xmlns:j2="http://j2" />
      </xs:choice>
      <xs:attribute name="j2:tokeyEl" type="j2:string" use="required"/>
    </xs:complexType>
  </xs:element>   
  
  
  
  <xs:simpleType name="ENUM_CALENDARIO_EVENTO_TIPO" final="restriction">
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="feriado"/>         
      <xs:enumeration value="suspensao-expediente"/>   
      <xs:enumeration value="ponto-facultativo"/>   
      <xs:enumeration value="suspensao-prazo"/>   
    </xs:restriction>
  </xs:simpleType>   
  
  <xs:simpleType name="ENUM_CALENDARIO_EVENTO_ABRANGENCIA" final="restriction">
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="nacional"/>   
      <xs:enumeration value="estadual"/>   
      <xs:enumeration value="municipal"/>   
      <xs:enumeration value="comarca"/>   
      <xs:enumeration value="unidade"/>   
      <xs:enumeration value="forum"/>   
      <xs:enumeration value="estadual-forense"/>   
      <xs:enumeration value="termo"/>   
    </xs:restriction>
  </xs:simpleType>   
  <xs:simpleType name="ENUM_CALENDARIO_EVENTO_RECORRENCIA" final="restriction">
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="anual"/>   
      <xs:enumeration value="unica"/>   
    </xs:restriction>
  </xs:simpleType>   
                                                                     
  <xs:element name="CalendarioEvento">
    <xs:complexType >
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="dataInicial" use="required"/>
        <xs:attribute type="xs:string" name="descricao" use="required"/>
        <xs:attribute type="xs:string" name="dataFinal" use="optional"/>
        
        <xs:attribute type="j2:ENUM_CALENDARIO_EVENTO_TIPO" name="tipo" use="required" xmlns:j2="http://j2"/>
        <xs:attribute type="j2:ENUM_CALENDARIO_EVENTO_ABRANGENCIA" name="abrangencia" use="required" xmlns:j2="http://j2"/>
        <xs:attribute type="j2:ENUM_CALENDARIO_EVENTO_RECORRENCIA" name="recorrencia" use="required" xmlns:j2="http://j2"/>
        
        <xs:choice>
            <xs:element ref="j2:DisposicaoLegal" maxOccurs="unbounded" minOccurs="1" xmlns:j2="http://j2"/>
            <xs:element ref="j2:TransferenciaEvento" maxOccurs="unbounded" minOccurs="0" xmlns:j2="http://j2"/>
        </xs:choice>
        
    </xs:complexType>
  </xs:element>                                                                                                                                                                                                                                      


  <xs:element name="DisposicaoLegal">
    <xs:complexType mixed="true">        
        <xs:attribute type="xs:string" name="disposicao" use="required"/>
        <xs:attribute type="xs:string" name="url" use="optional"/>
        <xs:attribute type="xs:string" name="idDropbox" use="optional"/>
        <xs:attribute type="xs:string" name="idDropboxV2" use="optional"/>
        <xs:attribute type="xs:string" name="dataAto" use="optional"/>
        <xs:attribute type="xs:string" name="anoVigencia" use="optional"/>
        <xs:attribute type="xs:string" name="refArtParInc" use="optional"/>
    </xs:complexType>
  </xs:element>    
                                                                       
  <xs:element name="TransferenciaEvento">
    <xs:complexType mixed="true">        
        <xs:attribute type="xs:string" name="anoVigencia" use="required"/>
        <xs:attribute type="xs:string" name="dataInicial" use="required"/>
        <xs:attribute type="xs:string" name="dataFinal" use="optional"/>
        <xs:choice>
            <xs:element ref="j2:DisposicaoLegal" maxOccurs="unbounded" minOccurs="1" xmlns:j2="http://j2"/>
        </xs:choice>
    </xs:complexType>
  </xs:element>                                                                         
                                                                                                                                                                  
</xs:schema>